body {
  line-height: 1.4;
}

h1 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  margin-top: 30px;
}

.carousel {
  width: 680px;
  margin: auto;
}

.album-info {
  display: block;
  margin: 30px;
}

.album-title {
  font-weight: 600;
  letter-spacing: .15em;
  text-transform: uppercase;
}

.carousel-slides {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  overflow-x: scroll;
  white-space: nowrap;
}

.slide {
  display: inline-block;
  width: 640px;
  padding-left: 20px;
  padding-right: 20px;
  vertical-align: top;
}

.credit {
  font-size: 12px;
  margin-bottom: 15px;
}

.content {
  white-space: normal;
  text-align: left;
}

.source {
  text-align: left;
  margin-top: 20px;
}

nav {
  position: absolute;
  top: 350px;
}

#left-arrow {
  position: absolute;
  left: 30px;
}

#right-arrow {
  position: absolute;
  left: 620px;
}
